<div class="d-flex justify-center pb-8 pt-8">
    <img src="images/wallet.png" alt="PocketMate" width="150" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Dashboard</MudNavLink>
    <MudNavLink Href="/transactions/history" Icon="@Icons.Material.Filled.AttachMoney">History</MudNavLink>
    <MudNavLink Href="/categories" Icon="@Icons.Material.Filled.Category">Categories</MudNavLink>
    <MudNavLink Href="/categories/premium" Icon="@Icons.Material.Filled.Category">Categories</MudNavLink>
    <MudNavLink Href="/premium" Icon="@Icons.Custom.Uncategorized.ChessQueen">Premium</MudNavLink>
    <MudNavLink Href="/logout" Icon="@Icons.Material.Filled.Logout">Logout</MudNavLink>
</MudNavMenu>